@page "/appointmentcenter"
@inherits AppointmentCenterBase

    <section>
    <h1>Appointment Center</h1>
    <p>You have @ApptCount appointments pending.</p><br/>
    <button class="btn btn-primary">List Appointments</button>
    <button class="btn btn-secondary">Add Appointment</button>
    </section>