@page "/billingcenter"
@inherits BillingCenterBase
    <section>
        <div class="row">
            <div class="navbar">

                <div class="card shadow left-color" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Billing Center</h5>
                        <p class="card-text">Curtis Flory - cfloryiv</p><br />
                        <button class="btn btn-primary">Bill</button>

                    </div>
                </div>
            </div>
        </div>
    </section>