@page "/messagecenter"
@inherits MessageCenterBase

<section>
    <h1>Message Center</h1>
    <p1>You have @MessageCount messages pending</p1><br/>
    <button class="btn btn-primary">List Messages</button>
    <button class="btn btn-secondary">Add Message</button>
</section>
