@page "/profilecenter"
@inherits ProfileCenterBase

<section>
    <div class="row">
        <div class="navbar">

            <div class="card left-color" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Profile Center</h5>
                    <p class="card-text">Curtis Flory - cfloryiv</p><br />
                    <button class="btn btn-secondary">Edit</button>
                   
                </div>
            </div>
        </div>
    </div>
</section>
